<!DOCTYPE html>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
        <div id="Deja_vu">
            <form>
                <input type="checkbox" id="pehli" value="Lipstick" v-model="List">
                <label for="List">Lipstick</label><br>
                <input type="checkbox" id="duji" value="Googles" v-model="List">
                <label for="List">Googles</label><br>
                <input type="checkbox" id="teji" value="Mascara" v-model="List">
                <label for="List">Mascara</label><br>
                <input type="checkbox" id="choti" value="Foundation" v-model="List">
                <label for="List">Foundation</label><br>
                <input type="checkbox" id="panjvi" value="kajal" v-model="List">
                <label for="List">kajal</label><br>
                <span> Things picked: {{List}}</span>
            </form>
        </div>
    <br>
    <br>
</body>
<script src="ij.js"></script>
</html>